# Default values for postgresql.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

resources:
  requests:
    cpu: 500m
    memory: 100Mi
  limits:
    cpu: 500m
    memory: 100Mi

swan_hpa:
  swan_minReplicas: 1
  swan_maxReplicas: 10