---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: microservices
  namespace: argocd
spec:
  generators:
    - git:
        repoURL: git@github.com:swanpyaetun/swan_polyglot-microservices-application.git
        revision: main
        directories:
          - path: swan_kubernetes/swan_helm/swan_microservices/*
  template:
    metadata:
      name: '{{path.basename}}'
      annotations:
        argocd.argoproj.io/depends-on: platform
      finalizers:
        - resources-finalizer.argocd.argoproj.io/foreground
    spec:
      project: default
      source:
        repoURL: git@github.com:swanpyaetun/swan_polyglot-microservices-application.git
        targetRevision: main
        path: '{{path}}'
        helm:
          valueFiles:
            - values.yaml
      destination:
        server: https://kubernetes.default.svc
        namespace: otel-demo
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
          allowEmpty: false
        syncOptions:
          - Validate=true
          - CreateNamespace=false
          - PrunePropagationPolicy=foreground
          - PruneLast=true