name: Reusable workflow for CI

on:
  workflow_call:
    inputs:
      swan_aws_region:
        required: false
        type: string
        default: "ap-southeast-1"
      swan_ecr_repository:
        required: true
        type: string
      swan_dockerfile_path:
        required: true
        type: string
      swan_k8s_manifest_path:
        required: true
        type: string
    secrets:
      SWAN_CI_ROLE_ARN:
        required: true

jobs:
  swan_docker:
    name: Build and Push Docker Image to ECR
    runs-on: ubuntu-latest
    permissions:
      id-token: write # id-token write permission is needed to use OIDC
    outputs:
      swan_ecr_registry: ${{ steps.set-output.outputs.swan_ecr_registry }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Load environment variables from .env file
        run: |
          if [ -f .env ]; then
            # Filter out comments and empty lines, then add each variable to $GITHUB_ENV
            grep -vE '^\s*#|^\s*$' .env | while read -r line; do
              echo "$line" >> $GITHUB_ENV
            done
          else
            echo ".env file not found!"
            exit 1
          fi

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.SWAN_CI_ROLE_ARN }}
          aws-region: ${{ inputs.swan_aws_region }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and push docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          file: ${{ inputs.swan_dockerfile_path }}
          build-args: |
            OTEL_JAVA_AGENT_VERSION=${{ env.OTEL_JAVA_AGENT_VERSION }}
            OPENTELEMETRY_CPP_VERSION=${{ env.OPENTELEMETRY_CPP_VERSION }}
            TRACETEST_IMAGE_VERSION=${{ env.TRACETEST_IMAGE_VERSION }}
          tags: ${{ steps.login-ecr.outputs.registry }}/${{ inputs.swan_ecr_repository }}:${{ github.run_id }}

      - name: Set swan_ecr_registry output
        id: set-output
        run: |
          echo "swan_ecr_registry=${{ steps.login-ecr.outputs.registry }}" >> $GITHUB_OUTPUT

  swan_update_k8s_manifest:
    name: Update Image Tag in Kubernetes Manifest
    runs-on: ubuntu-latest
    needs: swan_docker
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Update image tag in kubernetes manifest
        run: |
          sed -i "s|image: '\(${{ needs.swan_docker.outputs.swan_ecr_registry }}/${{ inputs.swan_ecr_repository }}\):.*'|image: '\1:${{ github.run_id }}'|" ${{ inputs.swan_k8s_manifest_path }}

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add ${{ inputs.swan_k8s_manifest_path }}
          git commit -m "Update image tag in ${{ inputs.swan_k8s_manifest_path }} [skip ci]"
          git pull --rebase origin main
          git push origin main