name: Reusable workflow for building and pushing docker images

on:
  workflow_call:
    inputs:
        swan_aws_region:
          required: false
          type: string
          default: "ap-southeast-1"
        swan_ecr_repository:
          required: true
          type: string
        swan_dockerfile_path:
          required: true
          type: string

jobs:
  swan_docker:
    name: Build and Push Docker Image to ECR
    runs-on: ubuntu-latest
    permissions:
      id-token: write # id-token write permission is needed to use OIDC
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.SWAN_CI_ROLE_ARN }}
          aws-region: ${{ inputs.swan_aws_region }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push docker image to Amazon ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: ${{ inputs.swan_ecr_repository }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -f ${{ inputs.swan_dockerfile_path }} -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG